<h1></h1>

<ul>
  <!-- <li>@Model.GetWidth()</li>
  <li>@Model.GetHeight()</li>
  <li>@Model.GetLength()</li> -->
  <li>@Model.GetVolume()cubic inches</li>
  <li>@Model.GetPrice() is your total.</li>
</ul>
